body {
    margin: 0;
}

.nav {
    background-color: #383737;
    padding: 10px;
}

.nav-dropdown {
    color: #fff;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.list {
    list-style: none;
    padding-left: 0;
    /*display: none;*/
}

.nav-dropdown:hover > .list {
    position: absolute;
    display: block;
    background-color: dodgerblue;
}

.list > li:hover {
    background-color: royalblue;
}