body {
  margin: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fast {
  position: relative;
  animation-name: hellooo;
  animation-duration: 2s;
  /*figure out slide*/
  animation-iteration-count: infinite;
}

@keyframes hellooo {
  0% {left:100%; opacity: 0;}
  60% {opacity: 100%;}
  100% {right: 0;}
  /*smooth slide*/
}

.cool {
  background-color: lightskyblue;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 lightslategrey;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

.cool:hover {
  cursor: pointer;
  /*add button expand*/
}