body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.header {
    text-align: center;
    background-color: dodgerblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 5px grey;
    padding: 10px;
}

.registration-form {
    margin: 40px 80px;
    border: none;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 2px grey;
}

.text-field {
    margin: 10px auto;
    border: solid 1px dodgerblue;
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
}

.radio-label,
.checkbox-label {
    text-align: left;
    margin: 10px 0;
}

label {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
}

.section {
    padding: 10px;
    border-top: solid 1px grey;
}

.section > label {
    text-align: left;
}

select {
    cursor: pointer;
    border-radius: 3px;
}

textarea {
    width: 100%;
    margin: 10px;
    border: none;
    background-color: whitesmoke;
    height: 100px;
}

.form-button {
    margin: auto;
    border: solid 1px dodgerblue;
    padding: 10px 20px;
    display: block;
}

.form-button:hover {
    color: white;
    background-color: dodgerblue;
    cursor: pointer;
}
